*.xml
.idea
*.gz
data/*
model/
TF/MNIST_data/
*.pyc
.idea
TF/__pycache__
/summaries
*/summaries

*.npy
/Tensorflow/auto_encoder/summaries/
Tensorflow/Data/
Tensorflow/LSTM/__pycache__/
Tensorflow/LSTM/summaries/
Tensorflow/NeuralNetwork/__pycache__/
Tensorflow/NeuralNetwork/summaries/
Tensorflow/__pycache__/
Tensorflow/auto_encoder/__pycache__/
Tensorflow/auto_encoder/data/
Tensorflow/auto_encoder/summaries/
Tensorflow/base/__pycache__/
Tensorflow/utils/__pycache__/
add_auto_encoder_data_generator.patch
